@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.xdebug-error {
    color: black;
}


:root {
    --background: #1E212B;
    --yellow: #FFAE00;
    --green: #038C4C;
    --black: #101010;
    --lightBlue: #373D50;
    --red: #fb4d3d;
    --lightGrey: #a4a4a4;
    --veryLightBlue: #6A7497;
    --grey: #D9D9D9;
}

.tel {
    display: flex;
    flex-direction: column;
}

.pc {
    display: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

img {
    width: 100%;
    height: auto;
}

input[type="submit"], button {
    cursor: pointer;
}

/* Header gabarit.php */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 10px;
}

.mobileMenuDiv {
    justify-self: right;
}

main {
    margin-right: 5%;
    margin-left: 5%;
    color: white
}

.linksPC {
    display: none;
}

.hoverLoginPC {
    display: none;
}

/* Menu mobile */

.show {
    left: 0 !important;
}

.none {
    display: none;
}

.mobileMenu, .mobileMenuAdmin {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    transition: left 0.2s;
}

.mobileMenu svg, .mobileMenuAdmin svg {
    justify-self: end;
    cursor: pointer;
    margin: 10px;
}

.menuUnderline {
    border-bottom: var(--yellow) 3px solid;
    color: white;
}

.linksMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

.linksMenuAdmin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    margin-left: 20%;
}

.linksMenuAdmin img {
    width: 48px;
    height: 48px;
}

.linksMenu a, .linksMenuAdmin a, .lang a {
    text-decoration: none;
    color: white;
}

.linksMenuAdmin a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loginMobileLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.loginMobileLink svg {
    width: 40px;
    height: 40px;
}

.lang {
    font-size: 16px;
    justify-self: center;
    align-self: end;
    display: flex;
    gap: 15px;
    margin-bottom: 10%;
}

.lang a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lang > a:nth-child(1) {
    padding-right: 15px;
    border-right: var(--green) 2px solid;
}

/* Footer gabarit.php */

footer {
    background-color: var(--black);
    padding: 20px;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

footer img {
    width: 50%;
}

.titleFooter {
    font-size: 24px;
    color: var(--yellow);
}

.sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ligneFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Page d'accueil vueAccueil.php */

.accueilLogo {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.underline {
    border-bottom: var(--yellow) 3px solid;
}

.titleUnderline {
    position: relative;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
    border-bottom: var(--yellow) solid 3px;
}

.titleUnderline::after {
    content: "";
    position: absolute;
    border-bottom: var(--yellow) 3px solid;
}

.imgBorder {
    border: var(--yellow) 3px solid;
    width: 100%;
}

.linkGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.greenLink {
    text-decoration: none;
    color: white;
    border: var(--green) 3px solid;
    padding: 15px;
    margin: 2%;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleYellow {
    color: var(--yellow);
    font-size: 24px;
}

.contourTitleImage {
    border-bottom: var(--green) 3px solid;
}

.titleAndImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 5% 0 5% 0
}

.reviewsHome {
    display: block;


}

.aReview {
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding: 20px;
    color: black;
}

.leftReview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewName {
    font-size: 20px;
}

.Vue {
    display: block;
}

.Vue2 {
    display: none;

}

.yellowLinkHomeEscapeMobile {
    background-color: var(--yellow);
    color: black;
    text-decoration: none;
    padding: 10px;
}

/* Page account vueAccount.php */

.welcomeBack {
    font-size: 24px;
}

.accountTables {
    white-space: nowrap;
}

.divYellowButtonAccount {
    display: flex;
    justify-content: center;
}

.yellowButtonAccount {
    display: block;
}

/* Page account change infos vueAccountChangeInfos.php */

.changeInfosForm input:not([type="submit"]) {
    width: 80%;
}

.accountInfoError {
    text-align: left !important;
}


/* Page about us vueAboutUs.php */


.aPerson {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10%;
    padding-bottom: 10%;
    border-bottom: var(--green) 3px solid;
}


.leftPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: var(--yellow) 3px solid;
}

.contactForm {
    display: grid;
    gap: 20px;
}

.contactForm label {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.contactForm input, .contactForm textarea {
    border: var(--yellow) 3px solid;
    background-color: var(--background);
    color: white;
    margin-top: 10px;
}

.contactForm input {
    padding: 15px;
}

.contactForm input[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
}

.contactForm input[type="checkbox"] {
    margin-top: 0;
}

.formInput {
    justify-self: end;
}

.contactInfos div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.contactInfos img {
    width: 32px;
    height: 32px;
}

.contactInfos a {
    text-decoration: none;
    color: white;
}



#map {
    height: 250px;
}

/* Page de carte cadeau vueGiftCards.php */
.ligneOneGiftCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.ligneTwoGiftCards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftCardsIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giftCardsIcon img {
    max-width: 32px;
    max-height: 32px;
}

.greenButton {
    background-color: var(--green);
    padding: 20px 60px;
    margin: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.aQuestion {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.titleQuestion {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.descQuestion {
    display: none;
}

.displayQuestion {
    display: block;
    transition: display 0.4s;
}

.arrow {
    transition: transform 0.2s;
}

.arrowDown {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.bigTextBold {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bigText {
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#moneyCards, #escapeCards {
    display: none;
}

#moneyCards:target, #escapeCards:target {
    display: block;
}

.selectGiftCards {
    background-color: var(--green);
    border: none;
    padding: 20px 60px;
    color: white;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.giftCardsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitGiftCards {
    background-color: var(--yellow);
    border: none;
    padding: 20px 60px;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}

/* Page jobs vueJobs.php */

.jobsIcons img {
    width: 32px;
    height: 32px;
}

.jobsIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobsFirstIcons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.singleLigneJobs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aJobOffer {
    background-color: var(--green);
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleJobOffer, .taskJobOffer, .strenghtJobOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleJobOffer h3 {
    font-size: 32px;
    font-weight: 400;
}

.titleJobOffer p {
    font-size: 26px;
    font-weight: 400;
}

.taskJobOffer p, .strenghtJobOffer p {
    font-size: 24px;
    font-weight: 400;

}


/* Page Partners vuePartners.php */

.partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
}

.textPartners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

/* Page Escape Games vueEscapeGames.php */

.escapeGamesAlign {
    margin: 20px;
    font-size: 22px;
    text-align: center;
}

.escapeGamesAlign > h2 {
    font-size: 32px;
    margin-top: 0;
}

.escapeGamesAlign > p {
    margin-bottom: 50px;
}

.escapeGamesAlign > .greenLink {
    padding: 25px;
    font-size: 16px;
}

/* Page Escape Game vueEscapeGame.php */

.escapeGameGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.escapeGameGrid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.escapeGameGrid > div > img {
    width: 32px;
    height: 32px;
}

.alinea {
    text-indent: 50px;
}

.escapeGameSlider {
    position: relative;
}

.escapeGameF {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.escapeGSliderRect {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 10px;
    gap: 10px;
}

.escapeGSliderRect > div {
    width: 20px;
    height: 5px;
    background-color: #fff;
}

.escapeGameRect {
    opacity: 40%;
}

.escapeGameRectSelec {
    opacity: 80%;
}

.escapeGSliderIMG {
    display: flex;
    height: 250px;
    overflow: hidden;
    align-items: center;
}

.escapeGameSCenterSelec {
    width: 100%;
    height: auto;
    transition: 0.4s;
}

.escapeGameSCenter {
    width: 0%;
    height: auto;
    transition: 0.4s;
}

#mapEscapeGame {
    height: 250px;
}

.displayNone {
    display: none;
}

.escapeGameReview {
    background-color: var(--green);
    display: grid;
    color: white;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 150px;
    margin-bottom: 25px;
}

.reviewNom {
    font-size: 16pt;
    margin-top: 30px;
}

.reviewDesc {
    grid-row: 1/3;
    grid-column: 2;
}

.reviewNote {
    margin-bottom: 30px;
}

.escapeYellowButton {
    background-color: var(--yellow);
    padding: 20px;
    margin: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.inputBuy {
    width: 90%;
    height: 40px;
}

.escapeSearchButton {
    border-style: solid;
    border-color: var(--green);
    padding: 10px 20px;
    margin: 30px 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.hoursSchedules > .greenButton {
    color: black;
}

.hoursSchedules > .occupied {
    background-color: #01241a;
}

.possibleSchedules > .escapeYellowButton {
    margin-top: 50px;
}

/* Page admin vueAdmin.php */

.aButton {
    text-decoration: none;
    color: white;
    background-color: var(--lightBlue);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;

}

.aButton img {
    width: 64px;
    height: 64px;
}

.aButton p {
    font-size: 26px;
}

/* Page legal notice vueLegalNotice.php */

.legalNoticeContent h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

/* Page admin vueAdminEscapeGames.php */

.anEscapeGameAdmin {
    background-color: var(--lightBlue);
    padding-bottom: 10px;
    margin-top: 20px;
}

.anEscapeGameAdmin p {
    font-size: 26px;
    display: flex;
    justify-content: center;
}

/* Page admin vueAdminContactForm.php */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
    text-align: center;

}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-m5d1 {
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

.tg .tg-wkfw {
    background-color: var(--yellow);
    border-color: #5b5b5b;
    color: black;
    text-align: center;
    vertical-align: top;
}

.tg .tg-wkfw-delete {
    background-color: rgba(255, 255, 255, 0);
}

.warningDelForm {
    background-color: var(--red);
    cursor: pointer;
    padding: 10px;
}

.tg .tg-a43n {
    background-color: var(--green);
    border-color: #5b5b5b;
    color: #ffffff;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -1px;
    vertical-align: top;
    will-change: transform;
}

.tg .tg-i7qu {
    background-color: var(--yellow);
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: left;
    vertical-align: top;
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}

.messageOpenButton {
    cursor: pointer;
}

.messageOpen {
    display: none;
    position: fixed;
    top: 50%;
    left: 10%;
    background-color: var(--lightBlue);
    padding: 20px;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageOpenDisplay {
    display: flex;
}

.messageOpen h3 {
    margin: 0;
}

.yellowButtonAdminContact {
    background-color: var(--yellow);
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    color: black;
    border: none
}

/* Page admin vueAdminGiftCards.php */
.amount p {
    font-size: 20px;
}

.tg .tg-q4wl {
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

.tg .tg-q4wl a {
    background-color: var(--red);
    color: #ffffff;
    padding: 10px 20px;
}

.newAmount > p {
    font-size: 20px;
}

.newAmount input[type="number"] {
    background-color: var(--lightBlue);
    border: none;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin-top: 10%;
}

.newAmount label > p {
    transform: translate(1%, 390%);
    color: var(--lightGrey);
    font-size: 15px;
}

.submitDivNewAmount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.newAmount input[type=submit], .yellowButton {
    background-color: var(--yellow);
    border: none;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%; */
    padding: 20px 30%;
    font-size: 20px;
}

/* Page admin vueAdminQAndA.php et liées */

.greenButtonEscapeGames {
    border: none;
    background-color: var(--green);
}

select.greenButtonEscapeGames {
    font-size: 16px;
    text-align: center;
    padding: 20px 0;
}

select.greenButtonEscapeGames > option {
    padding: 10px;
}

.addTitle {
    border: var(--yellow) 3px solid;
    background-color: var(--background);
    color: white;
    padding: 20px;
    width: 80%;
    /* margin-bottom: 30px; */
}

.titleAdminQAndA {
    font-size: 20px;
}

.categoryQAndA {
    background-color: var(--green);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 32px;
    font-weight: 500;
}

.titleCategoryQAndA {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoriesQAndA a {
    text-decoration: none;
}

.yellowButtonQAndA {
    background-color: var(--yellow);
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%; */
}

.buttonsQandA {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonsQandA > a, .buttonsQandA > select {
    margin: 4%;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 8% 0px;
}

.greenButtonEscapeGames {
    background-color: var(--green);
}

.buttonsQandA > .redButtonQandA, .buttonsQandA > .redButtonQandA, .redButtonQandA {
    background-color: var(--red);
    color: white;
    border: none;
}

h3.adminQandA {
    font-weight: normal;
    font-size: 24px;
}

a > button.returnAdmin {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    background-color: var(--yellow);
    padding: 2% 4%;
    margin-top: 30px;
    border: none;
}

a {
    text-decoration: none;
}

textarea.addTitle {
    height: 240px;
}

.listQandA {
    margin: 12% 0%;
}

.oneQandA {
    margin: 16% 0%;
}

.oneQandA > div > div {
    text-align: center;
    font-size: 32px;
    color: black;
    font-weight: 500;
}

.oneQandA > div > p {
    margin: 4%;
    text-align: center;
}

.oneQ {
    border: var(--green) solid 3px;
}

.oneQ > p {
    font-size: 24px;
}

.oneA {
    border: var(--yellow) solid 3px;
}

.oneA > p {
    font-size: 20px;
}

.titleQ {
    background-color: var(--green);
}

.titleA {
    background-color: var(--yellow);
}

.span2 {
    grid-column: span 2;
}

.redButtonQandA.span2 {
    margin: 2% 0%;
    padding: 4% 0%;
}

.buttonsQandAQuestions {
    margin: 8% 0%;
    gap: 4%;
}

.buttonsQandAQuestions > a {
    margin: 0%;
    font-size: 20px;
}

.formAdmin {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.formAdmin > label {
    display: grid;
    grid-template-columns: 1fr;
}

.formAdmin > label > input[type=text],
.formAdmin > label > textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: auto;
}

.formAdmin > input[type=submit] {
    padding: 20px 0%;
    text-align: center;
    margin: 0% 10%;
    margin-top: 30px;
    font-size: 20px;
}

.deuxTiers {
    min-height: 66vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.greenBar {
    border: var(--green) solid 2px;
    margin-block-start: 2em;
    margin-block-end: 0.5em;
}

h3.titleAdminQAndA {
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Page Admin vueAdminJobs */

.adminJobs {
    margin-top: 40px;
}

.topAdminJob {
    display: flex;
    justify-content: end;
    align-items: center;
}

.yellowButtonAddAdmin {
    background-color: var(--yellow);
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px;

}

.aJob {
    margin-top: 40px;
}

.topJob {
    border: var(--yellow) 3px solid;
    margin-bottom: 20px;
}

.titleJob {
    background-color: var(--yellow);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 19pt;
}

.titleJob p {
    margin: 0;
}

.firstTitleJob {
    font-size: 32px;
    text-align: center;
}

.secondTitleJob {
    font-size: 24px;
}

.jobDescription {
    margin: 20px;
}

.bottomJob {
    background-color: var(--lightBlue);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellowButtonJobs {
    background-color: var(--yellow);
    padding: 20px 30%;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.redButton {
    background-color: var(--red);
    padding: 20px;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
}

/* Page Admin vueAdminJob.php */

.formAdminJob input:not([type=submit]) {
    background-color: var(--lightBlue);
    border: none;
    padding: 20px;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.formAdminJob label > p {
    transform: translate(1%, 120%);
    color: var(--lightGrey);
    font-size: 15px;
    margin: 0
}

.yellowReturn {
    margin: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.yellowReturn a {
    background-color: var(--yellow);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDivAdminJob {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleDivAdminJob svg {
    margin-left: 10px;
}

.formAdminJob textarea {
    background-color: var(--lightBlue);
    border: none;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.displayJob {
    background-color: var(--lightBlue);
    padding: 20px;
    margin: 40px 0;
}

.firstTitleDisplay {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.secondTitleDisplay {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.divVisibleDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--veryLightBlue);
    padding: 15px;
}

.divVisibleDisplay p {
    font-size: 24px;
    margin: 0;
}

.formAdminJob input[type=submit] {
    font-size: 26px;
}

.submitAdminJob {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Vue Admin User */

.marge {
    margin: 30px 0px;
}

.tg .pad {
    padding: 10px 30px;
}


.textAreaJob {
    margin: 20px 0;
}

.textAreaJob textarea {
    width: 88%;
    height: 200px;
    margin-top: 10px;
}

.labelTextArea {
    font-size: 18px;
}

.Nofond {
    border: 0px !important;
}

.Nofond > select {
    padding: 10px 15px;
    background-color: var(--yellow);
    border: none;

}

.Nofond > select > option {
    background-color: var(--grey);
}

.deleteUser {
    background-color: var(--red);
    padding: 10px 30px;
    color: white;
    cursor: pointer;
}

.validationDeleteUser {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightBlue);
    padding: 20px;
    color: white;
}

.delUserDivButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.validationDeleteUser a {
    text-decoration: none;
    color: black;
    background-color: var(--red);
    padding: 10px 30px;
}

.noDeleteUser {
    background-color: var(--green);
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    border: none;
}

.eachCheckboxUser {
    display: flex;
    justify-content: right;
    align-items: center;
}

.center {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Search {
    background-color: var(--yellow) !important;
    border: none !important;
    padding: 15px 50px !important;
    font-size: 20px !important;
    color: black !important;
}

.Save {
    background-color: var(--green);
    border: none;
    padding: 15px 50px;
    font-size: 20px;
    cursor: pointer;
}

.is-hidden {
    display: none;
}


/* Page de connexion vueLogin.php */

.labelCheckbox {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: left;
    grid-gap: 10px;
}

.loginSubmit {
    justify-self: center;
}

.toSignUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.toSignUp p {
    font-size: 20px;
}

.yellowLinkSignUp {
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: var(--yellow) 3px solid;
    padding: 10px 20px;
}

.greenLigne {
    background-color: var(--green);
    height: 3px;
    width: 100%;
}

/* Page d'inscription vueSignUp.php */

.errorSignUp {
    background-color: #ff8787;
    font-size: 20px;
    margin: 0 10px 20px 10px;
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 3px #ff6161;
}

.padding {
    padding: 0px 20px;

}

/* Page achat carte vueBuyCards.php */

.errorForm {
    border: solid 3px var(--red) !important;
}

.okForm {
    border: solid 3px var(--green) !important;
}

.errorMessageBuy {
    color: var(--red);
    font-size: 20px;
    margin: 10px 0 0 0;
    text-align: center;
}

/* Page de vente réussite */
