@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #1E1E1E;
    --yellow: #FFAE00;
    --green: #038C4C;
    --black: #101010;
    --lightBlue: #373D50;
    --red: #fb4d3d;
    --lightGrey: #A4A4A4
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header gabarit.php */

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 10px;
}

.mobileMenuDiv {
    justify-self: right;
}

main {
    margin-right: 5%;
    margin-left: 5%;
    color: white
}

/* Menu mobile */

.show {
    left: 0 !important;
}

.mobileMenu, .mobileMenuAdmin {
    position: fixed;
    top: 0;
    left: 100%;
    background-color: var(--background);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    transition: left 0.2s;
}

.mobileMenu svg, .mobileMenuAdmin svg {
    justify-self: end;
    cursor: pointer;
    margin: 10px;
}

.menuUnderline {
    border-bottom: var(--yellow) 3px solid;
    color: white;
}

.linksMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

.linksMenuAdmin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    margin-left: 20%;
}

.linksMenuAdmin img {
    width: 48px;
    height: 48px;
}

.linksMenu a, .linksMenuAdmin a, .lang a {
    text-decoration: none;
    color: white;
}

.linksMenuAdmin a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.lang {
    font-size: 16px;
    justify-self: center;
    align-self: end;
    display: flex;
    gap: 15px;
    margin-bottom: 10%;
}

.lang a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lang > a:nth-child(1) {
    padding-right: 15px;
    border-right: var(--green) 2px solid;
}

/* Footer gabarit.php */

footer {
    background-color: var(--black);
    padding: 20px;
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

footer img {
    width: 50%;
}

.titleFooter {
    font-size: 24px;
    color: var(--yellow);
}

.sectionFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ligneFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Page d'accueil vueAccueil.php */

.accueilLogo {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.underline {
    border-bottom: var(--yellow) 3px solid;
}

.titleUnderline {
    position: relative;
    display: inline-block;
    font-size: 32px;
    font-weight: 400;
}

.titleUnderline::after {
    content: "";
    position: absolute;
    border-bottom: var(--yellow) 3px solid;
}

.imgBorder {
    border: var(--yellow) 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.greenLink {
    text-decoration: none;
    color: white;
    border: var(--green) 3px solid;
    padding: 15px;
    margin: 2%;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleYellow {
    color: var(--yellow);
    font-size: 24px;
}

.titleAndImage img {
    width: 45%;
    margin-right: 5%;
}

.contourTitleImage {
    border-bottom: var(--green) 3px solid;
}

.titleAndImage {
    display: flex;
    margin-top: 5%;
}

.reviewsHome {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aReview {
    background-color: var(--green);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftReview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewName {
    font-size: 20px;
}

/* Page about us vueAboutUs.php */

.aPerson {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10%;
    padding-bottom: 10%;
    border-bottom: var(--green) 3px solid;
}

.leftPerson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: var(--yellow) 3px solid;
}

.contactForm {
    display: grid;
    gap: 20px;
}

.contactForm label {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.contactForm input, .contactForm textarea {
    border: var(--yellow) 3px solid;
    background-color: var(--background);
    color: white;
    margin-top: 10px;
}

.contactForm input {
    padding: 15px;
}

.contactForm input[type="submit"] {
    padding: 10px;
    font-size: 20px;
}

.formInput {
    justify-self: end;
}

.contactInfos div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.contactInfos img {
    width: 32px;
    height: 32px;
}

.contactInfos a {
    text-decoration: none;
    color: white;
}

#map {
    height: 250px;
}

/* Page de carte cadeau vueGiftCards.php */
.ligneOneGiftCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.ligneTwoGiftCards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giftCardsIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.giftCardsIcon img {
    max-width: 32px;
    max-height: 32px;
}

.greenButton {
    background-color: var(--green);
    padding: 20px;
    margin: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.aQuestion {
    background-color: var(--yellow);
    color: black;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.titleQuestion {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.descQuestion {
    display: none;
}

.displayQuestion {
    display: block;
    transition: display 0.4s;
}

.arrow {
    transition: transform 0.2s;
}

.arrowDown {
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.bigTextBold {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.bigText {
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Page jobs vueJobs.php */

.jobsIcons img {
    width: 32px;
    height: 32px;
}

.jobsIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doubleLigneJobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.singleLigneJobs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aJobOffer {
    background-color: var(--green);
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleJobOffer, .taskJobOffer, .strenghtJobOffer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleJobOffer h3 {
    font-size: 32px;
    font-weight: 400;
}

.titleJobOffer p {
    font-size: 26px;
    font-weight: 400;
}

.taskJobOffer p, .strenghtJobOffer p {
    font-size: 24px;
    font-weight: 400;

}

.contactJobs {
    margin-top: 20px;
}

/* Page Partners vuePartners.php */

.partnersLigne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}

.textPartners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

/* Page admin vueAdmin.php */

.aButton {
    text-decoration: none;
    color: white;
    background-color: var(--lightBlue);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;

}

.aButton img {
    width: 64px;
    height: 64px;
}

.aButton p {
    font-size: 26px;
}

/* Page admin vueAdminEscapeGames.php */

.anEscapeGameAdmin {
    background-color: var(--lightBlue);
    padding-bottom: 10px;
    margin-top: 20px;
}

.anEscapeGameAdmin p {
    font-size: 26px;
    display: flex;
    justify-content: center;
}

/* Page admin vueAdminContactForm.php */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-m5d1 {
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

.tg .tg-wkfw {
    background-color: var(--yellow);
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

.tg .tg-a43n {
    background-color: var(--green);
    border-color: #5b5b5b;
    color: #ffffff;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -1px;
    vertical-align: top;
    will-change: transform
}

.tg .tg-i7qu {
    background-color: var(--yellow);
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: left;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}

/* Page admin vueAdminGiftCards.php */

.amount p {
    font-size: 20px;
}

.tg .tg-q4wl {
    background-color: var(--red);
    border-color: #5b5b5b;
    color: #ffffff;
    text-align: center;
    vertical-align: top
}

.newAmount > p {
    font-size: 20px;
}

.newAmount input[type="number"] {
    background-color: var(--lightBlue);
    border: none;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin-top: 10%;
}

.newAmount label > p {
    transform: translate(1%, 390%);
    color: var(--lightGrey);
    font-size: 15px;
}

.submitDivNewAmount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.newAmount input[type=submit], .yellowButton {
    background-color: var(--yellow);
    border: none;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%; */
    padding: 20px 30%;
    font-size: 20px;
}

/* Page admin vueAdminQAndA.php */

.addTitle {
    border: var(--yellow) 3px solid;
    background-color: var(--background);
    color: white;
    padding: 20px;
    width: 80%;
    margin-bottom: 30px;
}

.titleAdminQAndA {
    font-size: 24px;
}

.categorieQAndA {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 26px;
}

.titleCategorieQAndA {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categoriesQAndA a {
    text-decoration: none;
}

.yellowButtonQAndA {
    background-color: var(--yellow);
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
    padding-right: 30%; */
}

.buttonsQandA{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonsQandA>a, .buttonsQandA>select{
    margin: 4%;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 8% 0px;
}

.greenButtonEscapeGames{
    background-color: var(--green);
}

.buttonsQandA>.redButtonQandA{
    background-color: var(--red);
    color: white;
}